span.css-10trblm.e16nr0p30
{
  background-color: darkgreen;
  color: darkgoldenrod;
  border-radius: 10px;
  font-family: Arial, Helvetica, sans-serif;

}

div.css-1offfwp.e16nr0p33>hr{
  background-color: darkgreen;

}

div.css-1offfwp.e16nr0p33
{
  text-align: center;

}


div.css-1v0mbdj.etr89bj1
{
  display: block;
  margin-left: auto;
  margin-right: auto;
  width: 10%;

}
